In [1]:
%matplotlib inline
import matplotlib as lib
import pandas as pd
from bs4 import BeautifulSoup
import requests
import json

In [72]:
cwurData=pd.read_csv("Data/cwurData.csv")
# change the name of the country from USA to United States to sycronize with other dataset
x=cwurData.country.replace('USA','United States')
cwurData['country']=x
cwurData.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,United States,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,United States,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,United States,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,United States,4,2,29,7,37,22,22,NaN,18,85.21,2012

# Columns meaning
world_rank - world rank for university.
university_name - name of university.
country - country of each university.
national_rank - rank of university within its country.
quality_of_education - rank for quality of education.
alumni_employment - rank for alumni employment.
quality_of_faculty - rank for quality of faculty.
publications - rank for publications.
influence - rank for influence.
citations - rank for citations.
broad_impact - rank for broad impact (only available for 2014 and 2015)
patents - rank for patents.
score - total score, used for determining world rank.
year - year of ranking (2012 to 2015).

In [12]:
shData=pd.read_csv("Data/shanghaiData.csv")
shData.head()

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005

# Column details:
world_rank - world rank for university. Contains rank ranges and equal ranks (eg. 101-152).
university_name - name of university.
national_rank - rank of university within its country.
total_score - total score, used to determine rank.
alumni - Alumni Score, based on the number of alumni of an institution winning nobel prizes and fields medals.
award - Award Score, based on the number of staff of an institution winning Nobel Prizes in Physics, Chemistry, Medicine, and Economics and Fields Medals in Mathematics.
hici - HiCi Score, based on the number of Highly Cited Researchers selected by Thomson Reuters.
ns - N&S Score, based on the number of papers published in Nature and Science.
pub - PUB Score, based on total number of papers indexed in the Science Citation Index-Expanded and Social Science Citation Index.
pcp - PCP Score, the weighted scores of the above five indicators divided by the number of full time academic staff.
year - year of ranking (2005 to 2015).

In [77]:
timesData=pd.read_csv("Data/timesData.csv")
# change the name of the country from United States of America to United States to sycronize with other dataset
x=timesData.country.replace('United States of America','United States')
timesData['country']=x
timesData.head(10)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011
5,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,"18,812",11.8,34%,46 : 54,2011
6,6,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,"19,919",11.6,34%,46 : 54,2011
7,8,"University of California, Berkeley",United States,84.2,39.6,99.3,97.8,-,91.1,"36,186",16.4,15%,50 : 50,2011
8,9,Imperial College London,United Kingdom,89.2,90.0,94.5,88.3,92.9,90.6,"15,060",11.7,51%,37 : 63,2011
9,10,Yale University,United States,92.1,59.2,89.7,91.5,-,89.5,"11,751",4.4,20%,50 : 50,2011

# Columns details:
world_rank - world rank for the university. Contains rank ranges and equal ranks (eg. =94 and 201-250).
university_name - name of university.
country - country of each university.
teaching - university score for teaching (the learning environment).
international - university score international outlook (staff, students, research).
research - university score for research (volume, income and reputation).
citations - university score for citations (research influence).
income - university score for industry income (knowledge transfer).
total_score - total score for university, used to determine rank.
num_students - number of students at the university.
student_staff_ratio - Number of students divided by number of staff.
international_students - Percentage of students who are international.
female_male_ratio - Female student to Male student ratio.
year - year of the ranking (2011 to 2016 included).

In [26]:
eduExp=pd.read_csv(open('Data/education_expenditure_supplementary_data.csv'),encoding='utf-8')
eduExp.head()

,country,institute_type,direct_expenditure_type,1995,2000,2005,2009,2010,2011
0,OECD Average,All Institutions,Public,4.9,4.9,5.0,5.4,5.4,5.3
1,Australia,All Institutions,Public,4.5,4.6,4.3,4.5,4.6,4.3
2,Austria,All Institutions,Public,5.3,5.4,5.2,5.7,5.6,5.5
3,Belgium,All Institutions,Public,5.0,5.1,5.8,6.4,6.4,6.4
4,Canada,All Institutions,Public,5.8,5.2,4.8,5.0,5.2,NaN

# Column details:
country - A set of OECD countries, plus Brazil and the Russian Federation, plus an OECD average.
institute_type - All Institutes (including preprimary education and subsidies to households, not separately shown), Elementary and secondary institutions (excludes preprimary), Higher education institutions.
direct_expenditure_type - Public direct expenditure, private direct expenditure, or total (public + private) direct expenditure. (Private and total data are only available for 2011)
1995, 2000, 2005, 2009, 2010, 2011 - years

In [73]:
pd.set_option('display.max_colwidth', -1)
eduAt=pd.read_csv("Data/educational_attainment_supplementary_data.csv").fillna(0)
#eduAt[eduAt.country_name=="United States"]

# 1. Times data has been criticized for its commercialization and for undermining non-English-instructing institutions, is it real?

In [64]:
top2015=timesData[timesData.year==2016].groupby(['country']).size().sort_values(ascending=False)
top2015

country
United States of America     146
United Kingdom               77
Japan                        41
Germany                      37
China                        37
Italy                        34
Australia                    31
France                       27
Canada                       25
Spain                        25
South Korea                  24
Taiwan                       24
India                        17
Brazil                       17
Russian Federation           13
Netherlands                  13
Sweden                       11
Turkey                       11
Switzerland                  10
Finland                      9
Czech Republic               9
Republic of Ireland          9
Iran                         8
Greece                       7
New Zealand                  7
Belgium                      7
Thailand                     7
Portugal                     7
Austria                      7
Poland                       7
                            ..
Estonia                      2
United Arab Emirates         2
Pakistan                     2
Slovakia                     2
Slovenia                     2
Jordan                       2
Colombia                     2
Singapore                    2
Mexico                       2
Cyprus                       1
Bangladesh                   1
Belarus                      1
Unted Kingdom                1
Luxembourg                   1
Ghana                        1
Iceland                      1
Indonesia                    1
Kenya                        1
Latvia                       1
Lebanon                      1
Lithuania                    1
Macau                        1
Morocco                      1
Nigeria                      1
Oman                         1
Qatar                        1
Serbia                       1
Uganda                       1
Unisted States of America    1
Argentina                    1
dtype: int64

# Get the data on country languages

In [62]:
t=requests.get('http://www.infoplease.com/ipa/A0855611.html')
soup=BeautifulSoup(t.text)
soup.prettify()
data=soup.find_all('tr')
# x=data[1].find_all("td")
# x[1].get_text()
# x[0].get_text()
lang={'Country':[],'Language':[]}
for i in range(1,len(data)-1):
    x=data[i].find_all("td")
    lang['Country'].append(x[0].get_text())
    lang['Language'].append(x[1].get_text())
ldf=pd.DataFrame(lang)
ldf

/usr/local/lib/python3.5/site-packages/bs4/__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

,Country,Language
0,Afghanistan,"Dari Persian, Pashtu (both official), other Turkic and minor languages"
1,Albania,"Albanian (Tosk is the official dialect), Greek"
2,Algeria,"Arabic (official), French, Berber dialects"
3,Andorra,"Catalán (official), French, Castilian, Portuguese"
4,Angola,"Portuguese (official), Bantu and other African languages"
5,Antigua and Barbuda,"English (official), local dialects"
6,Argentina,"Spanish (official), English, Italian, German, French"
7,Armenia,"Armenian 98%, Yezidi, Russian"
8,Australia,"English 79%, native and other languages"
9,Austria,"German (official nationwide); Slovene, Croatian, Hungarian (each official in one region)"
10,Azerbaijan,"Azerbaijani Turkic 89%, Russian 3%, Armenian 2%, other 6% (1995 est.)"
11,Bahamas,"English (official), Creole (among Haitian immigrants)"
12,Bahrain,"Arabic, English, Farsi, Urdu"
13,Bangladesh,"Bangla (official), English"
14,Barbados,English
15,Belarus,"Belorussian (White Russian), Russian, other"
16,Belgium,"Dutch (Flemish) 60%, French 40%, German less than 1% (all official)"
17,Belize,"English (official), Spanish, Mayan, Garifuna (Carib), Creole"
18,Benin,"French (official), Fon, Yoruba, tribal languages"
19,Bhutan,"Dzongkha (official), Tibetan dialects (among Bhotes), Nepalese dialects (among Nepalese)"
20,Bolivia,"Spanish, Quechua, Aymara (all official)"
21,Bosnia and Herzegovina,"Bosnian, Croatian, Serbian"
22,Botswana,"English 2% (official), Setswana 78%, Kalanga 8%, Sekgalagadi 3%, other (2001)"
23,Brazil,"Portuguese (official), Spanish, English, French"
24,Brunei,"Malay (official), English, Chinese"
25,Bulgaria,"Bulgarian 85%, Turkish 10%, Roma 4%"
26,Burkina Faso,French (official); native African (Sudanic) languages 90%
27,Burundi,"Kirundi and French (official), Swahili"
28,Cambodia,"Khmer 95% (official), French, English"
29,Cameroon,"French, English (both official); 24 major African language groups"
...,...,...
168,Swaziland,"English, siSwati (both official)"
169,Sweden,"Swedish, small Sami- and Finnish-speaking minorities"
170,Switzerland,"German 64%, French 20%, Italian 7% (all official); Romansch 0.5% (national)"
171,Syria,"Arabic (official); Kurdish, Armenian, Aramaic, Circassian widely understood; French, English somewhat understood"
172,Taiwan,"Chinese (Mandarin, official), Taiwanese (Min), Hakka dialects"
173,Tajikistan,"Tajik (official), Russian widely used in government and business"
174,Tanzania,"Swahili, English (both official); Arabic; many local languages"
175,Thailand,"Thai (Siamese), English (secondary language of the elite), ethnic and regional dialects"
176,Togo,"French (official, commerce); Ewé, Mina (south); Kabyé, Dagomba (north); and many dialects"
177,Tonga,"Tongan (an Austronesian language), English"
178,Trinidad and Tobago,"English (official), Hindi, French, Spanish, Chinese"
179,Tunisia,"Arabic (official, commerce), French (commerce)"
180,Turkey,"Turkish (official), Kurdish, Dimli, Azeri, Kabardian"
181,Turkmenistan,"Turkmen 72%; Russian 12%; Uzbek 9%, other 7%"
182,Tuvalu,"Tuvaluan, English, Samoan, Kiribati (on the island of Nui)"
183,Uganda,"English (official), Ganda or Luganda, other Niger-Congo languages, Nilo-Saharan languages, Swahili, Arabic"
184,Ukraine,"Ukrainian 67%, Russian 24%, Romanian, Polish, Hungarian"
185,United Arab Emirates,"Arabic (official), Persian, English, Hindi, Urdu"
186,United Kingdom,"English, Welsh, Scots Gaelic"
187,United States,"English 82%, Spanish 11% (2000)"
188,Uruguay,"Spanish, Portunol, or Brazilero"
189,Uzbekistan,"Uzbek 74.3%, Russian 14.2%, Tajik 4.4%, other 7.1%"
190,Vanuatu,"Bislama 23% (a Melanesian pidgin English), English 2%, French 1% (all 3 official); more than 100 local languages 73%"
191,Vatican City (Holy See),"Italian, Latin, French, various other languages"
192,Venezuela,"Spanish (official), numerous indigenous dialects"
193,Vietnam,"Vietnamese (official); English (increasingly favored as a second language); some French, Chinese, Khmer; mountain area languages (Mon-Khmer and Malayo-Polynesian)"
194,Western Sahara (proposed state),"Hassaniya Arabic, Moroccan Arabic"
195,Yemen,Arabic
196,Zambia,"English (official); major vernaculars: Bemba, Kaonda, Lozi, Lunda, Luvale, Nyanja, Tonga; about 70 other indigenous languages"
197,Zimbabwe,"English (official), Shona, Ndebele (Sindebele), numerous minor tribal dialects"